<ul class="nav navbar-nav navbar-right">
    <li>
        <div id="clock" class="light">
            <div class="display">
                <div class="ampm"></div>
                <div class="digits"></div>
            </div>
        </div>
    </li>
</ul>